[user]
	email = scott@willeke.com
	name = Scott Willeke
	
[push]
	default = simple
[color]
	ui = true
[alias]
	outgoing = log origin/HEAD..HEAD
	st = status
	logg = log --pretty=oneline --abbrev-commit --graph --decorate --all
	who = shortlog -s
	serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git # https://git.wiki.kernel.org/index.php/Aliases#Serve_re

[credential]
helper = /opt/boxen/bin/boxen-git-credential

[core]
excludesfile = /opt/boxen/config/git/gitignore

[hub]
protocol = https
