.android/
.berkshelf/
.cache/
.chef/
.config/
.cups/
.dropbox/
.DS_Store
.dvdcss/
.filezilla/
.gem/
.gnupg/
.hgcookies/
.local/
.macports/
.npm/
.MacOSX/
.mono/
.node-gyp/
.rarregkey
.rbenv/
.recently-used/
.sh_history
.ssh/
.subversion/
.Trash/
.vagrant.d/
android-sdk-mac_x86
bower_components/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
smtp_out/
tools-win/
Virtual Machines/
VirtualBox VMs/
bin/
projects/
Sites/
src/
tools/
.account
.anyconnect
.bash_secrets
.bash_history
.CFUserTextEncoding
.eclipse_keyring
.lesshst
.recently-used
.viminfo
md5
mypasswdfile
